*{
  margin:0;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width:7px;
}
.hamburger{
  background-color:rgb(9, 34, 41);
  color:white !important;
}
.navbar{
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb{
  background-color:rgb(39, 32, 32);
  border-radius:20px;
}
.absolute.inset-y-0.left-0.flex.items-center.sm\:hidden button {
  color: white;
  background-color:black;
}
.content-section {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
