.footer{
    margin-top:100px;
}
.button-cts{
    white-space:nowrap;
}
@media only screen and (min-width:300px) and (max-width:1000px){
    .button-cts{
        margin-top:-40px;

    }
    .ensure{
        margin-top:70px;
    }
    .how{
        font-size:60px;
    }
}
@media only screen and (min-width:300px) and (max-width:500px){
   
    .how{
        font-size:45px;
    }
}